<ul class="menu">
    <li><a href="https://biblioteca-tp6.herokuapp.com/AnadirUnSocio">Añadir Socio</a></li>
    <li><a href="http://localhost:3000/AnadirUnLibro">Añadir Libro</a></li>
    <li><a href="https://biblioteca-tp6.herokuapp.com/VerSocios">Ver Socios</a></li>
    <li><a href="http://localhost:3000/VerLibros">Ver Libros</a></li>
    <li><a href="http://localhost:3000/Dar-de-baja-un-Libro">Dar de baja un Libro</a></li>
    <li><a href="http://localhost:3000/Dar-de-baja-un-Socio">Dar de baja un Socio</a></li>
    <li><a href="http://localhost:3000/Pedir-un-libro">Pedir un Libro</a></li>
    <li><a href="http://localhost:3000/Mostrar-Pedidos">Mostrar Pedidos</a></li>
    <li><a href="http://localhost:3000/Devolver-un-libro">Devolver Libro</a></li>
</ul>